.highlight .hll {
    background-color:#ffc
}

.highlight {
    background:#f0f3f3
}

.highlight .c {
    color:#09F;
    font-style:italic
}

.highlight .err {
    color:#A00;
    background-color:#FAA
}

.highlight .k {
    color:#069;
    font-weight:700
}

.highlight .o {
    color:#555
}

.highlight .cm {
    color:#09F;
    font-style:italic
}

.highlight .cp {
    color:#099
}

.highlight .c1 {
    color:#09F;
    font-style:italic
}

.highlight .cs {
    color:#09F;
    font-weight:700;
    font-style:italic
}

.highlight .gd {
    background-color:#FCC;
    border:1px solid #C00
}

.highlight .ge {
    font-style:italic
}

.highlight .gr {
    color:red
}

.highlight .gh {
    color:#030;
    font-weight:700
}

.highlight .gi {
    background-color:#CFC;
    border:1px solid #0C0
}

.highlight .go {
    color:#AAA
}

.highlight .gp {
    color:#009;
    font-weight:700
}

.highlight .gs {
    font-weight:700
}

.highlight .gu {
    color:#030;
    font-weight:700
}

.highlight .gt {
    color:#9C6
}

.highlight .kc {
    color:#069;
    font-weight:700
}

.highlight .kd {
    color:#069;
    font-weight:700
}

.highlight .kn {
    color:#069;
    font-weight:700
}

.highlight .kp {
    color:#069
}

.highlight .kr {
    color:#069;
    font-weight:700
}

.highlight .kt {
    color:#078;
    font-weight:700
}

.highlight .m {
    color:#F60
}

.highlight .s {
    color:#C30
}

.highlight .na {
    color:#309
}

.highlight .nb {
    color:#366
}

.highlight .nc {
    color:#0A8;
    font-weight:700
}

.highlight .no {
    color:#360
}

.highlight .nd {
    color:#99F
}

.highlight .ni {
    color:#999;
    font-weight:700
}

.highlight .ne {
    color:#C00;
    font-weight:700
}

.highlight .nf {
    color:#C0F
}

.highlight .nl {
    color:#99F
}

.highlight .nn {
    color:#0CF;
    font-weight:700
}

.highlight .nt {
    color:#309;
    font-weight:700
}

.highlight .nv {
    color:#033
}

.highlight .ow {
    color:#000;
    font-weight:700
}

.highlight .w {
    color:#bbb
}

.highlight .mf {
    color:#F60
}

.highlight .mh {
    color:#F60
}

.highlight .mi {
    color:#F60
}

.highlight .mo {
    color:#F60
}

.highlight .sb {
    color:#C30
}

.highlight .sc {
    color:#C30
}

.highlight .sd {
    color:#C30;
    font-style:italic
}

.highlight .s2 {
    color:#C30
}

.highlight .se {
    color:#C30;
    font-weight:700
}

.highlight .sh {
    color:#C30
}

.highlight .si {
    color:#A00
}

.highlight .sx {
    color:#C30
}

.highlight .sr {
    color:#3AA
}

.highlight .s1 {
    color:#C30
}

.highlight .ss {
    color:#FC3
}

.highlight .bp {
    color:#366
}

.highlight .vc {
    color:#033
}

.highlight .vg {
    color:#033
}

.highlight .vi {
    color:#033
}

.highlight .il {
    color:#F60
}

.type-csharp .highlight .k {
    color:#00F
}

.type-csharp .highlight .kt {
    color:#00F
}

.type-csharp .highlight .nf {
    color:#000;
    font-weight:400
}

.type-csharp .highlight .nc {
    color:#2B91AF
}

.type-csharp .highlight .nn {
    color:#000
}

.type-csharp .highlight .s {
    color:#A31515
}

.type-csharp .highlight .sc {
    color:#A31515
}

#demoThree-nav .ln-letters a {
    border:none;
    border-top:2px solid #ffc0cb;
    color:red
}

#demoThree-nav .ln-letters a.ln-last {
    border-right:none
}

#demoThree-nav .ln-letters a:hover,#demoThree-nav .ln-letters a.ln-selected {
    border-top:2px solid red;
    background-color:#ffc0cb;
    color:#fff!important
}

#demoThree-nav .ln-letters a.ln-disabled {
    color:#ffc0cb
}

#demoThree-nav .ln-letters a.ln-disabled:hover {
    color:#fff
}

#demoThree-nav .ln-letter-count {
    color:red
}

#demoThree li {
    color:#ffc0cb
}

#demoThree li a {
    color:red;
    text-decoration:none
}

#demoThree li a:hover {
    text-decoration:underline
}

#demoFour,.listWrapper {
    overflow:hidden
}

#demoFour li {
    float:left;
    list-style:none
}

#demoFour a {
    display:block;
    text-align:center;
    width:85px;
    border:1px solid silver;
    padding:10px;
    margin:0 10px 10px 0;
    text-decoration:none
}

#demoFour a:hover {
    background-color:#eee;
    color:#ffc0cb
}

.imageList {
    margin: 0;
    padding: 0;
}

.imageList img,.imageList h2,.imageList p {
    float:left
}

.imageList img {
    text-align:right;
    margin-right:20px;
    margin-top:15px
}

.imageList p,.imageList h2 {
    width:360px
}

.imageList li {
    list-style-type:none;
    overflow:hidden;
    padding:1em 0;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}

.imageList li:hover {
    background-color:#eff1f9;
    cursor:pointer;
    -webkit-box-shadow:0 0 2px 0 #bababa;
    box-shadow:0 0 5px 0 #BBB
}

.imageList h2,.imageList p {
    background:none;
    padding-bottom:0;
    margin:0
}

.imageList a {
    text-decoration:none;
    color:#039
}

.last-name {
    display:none
}

.clearfix::after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

pre {
    border:1px solid #ccc;
    word-wrap:break-word;
    padding:6px 10px;
    line-height:19px;
    margin-bottom:20px
}

code {
    border:1px solid #eaeaea;
    margin:0 2px;
    padding:0 5px;
    font-size:12px
}

pre code {
    border:0;
    padding:0;
    margin:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0
}

pre,code {
    font-family:Consolas,'Liberation Mono',Courier,monospace;
    color:#333;
    background:#f8f8f8;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px
}

pre,pre code {
    font-size:14px
}

pre .comment {
    color:#998
}

pre .support {
    color:#0086B3
}

pre .tag,pre .tag-name {
    color:navy
}

pre .keyword,pre .css-property,pre .vendor-prefix,pre .sass,pre .class,pre .id,pre .css-value,pre .entity.function,pre .storage.function {
    font-weight:700
}

pre .css-property,pre .css-value,pre .vendor-prefix,pre .support.namespace {
    color:#333
}

pre .constant.numeric,pre .keyword.unit,pre .hex-color {
    font-weight:400;
    color:#099
}

pre .entity.class {
    color:#458
}

pre .entity.id,pre .entity.function {
    color:#900
}

pre .attribute,pre .variable {
    color:teal
}

pre .string,pre .support.value {
    font-weight:400;
    color:#d14
}

pre .regexp {
    color:#009926
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display:block
}

audio,canvas,video {
    display:inline-block
}

audio:not([controls]) {
    display:none;
    height:0
}

[hidden] {
    display:none
}

html {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

body {
    margin:0
}

a:focus {
    outline:thin dotted
}

a:active,a:hover {
    outline:0
}

h1 {
    font-size:2em
}

abbr[title] {
    border-bottom:1px dotted
}

b,strong {
    font-weight:700
}

dfn {
    font-style:italic
}

mark {
    background:#ff0;
    color:#000
}

code,kbd,pre,samp {
    font-family:monospace,serif;
    font-size:1em
}

pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word
}

q {
    quotes:"\201C" "\201D" "\2018" "\2019"
}

small {
    font-size:80%
}

sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sup {
    top:-.5em
}

sub {
    bottom:-.25em
}

img {
    border:0
}

svg:not(:root) {
    overflow:hidden
}

figure {
    margin:0
}

fieldset {
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}

legend {
    border:0;
    padding:0
}

button,input,select,textarea {
    font-family:inherit;
    font-size:100%;
    margin:0
}

button,input {
    line-height:normal
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer
}

button[disabled],html input[disabled] {
    cursor:default
}

input[type="checkbox"],input[type="radio"] {
    box-sizing:border-box;
    padding:0
}

input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border:0;
    padding:0
}

textarea {
    overflow:auto;
    vertical-align:top
}

table {
    border-collapse:collapse;
    border-spacing:0
}

body {
    box-sizing:border-box;
    color:#373737;
    background:#212121;
    font-size:15px;
    font-family:'Calibri',Helvetica,Arial,sans-serif;
    line-height:1.5;
    -webkit-font-smoothing:antialiased
}

@media (min-width: 600px) {
  body {
    font-size: 17px;
  }
}

h1,h2,h3,h4,h5,h6 {
    margin:10px 0;
    font-weight:500;
    color:#222;
    font-family:'Calibri',Helvetica,Arial,sans-serif;
    letter-spacing:-1px
}

h1 {
    font-size:36px
}

h2 {
    padding-bottom:10px;
    font-size:32px;
    background:url(../images/bg_hr.png) repeat-x bottom
}

h3 {
    font-size:24px
}

h4 {
    font-size:21px
}

h5 {
    font-size:18px
}

h6 {
    font-size:16px
}

p {
    margin:10px 0 15px
}

footer p {
    color:#f2f2f2
}

a {
    text-decoration:none;
    color:#007edf;
    text-shadow:none
}

#main_content a:hover {
    color:#0069ba;
    text-shadow:#0090ff 0 0 1px
}

footer a:hover {
    color:#43adff;
    text-shadow:#0090ff 0 0 2px
}

em {
    font-style:italic
}

strong {
    font-weight:700
}

img {
    position:relative;
    margin:0 auto;
    max-width:739px;
    padding:5px;
    margin:10px 0;
    border:1px solid #ebebeb;
    box-shadow:0 0 5px #ebebeb;
    -webkit-box-shadow:0 0 5px #ebebeb;
    -moz-box-shadow:0 0 5px #ebebeb;
    -o-box-shadow:0 0 5px #ebebeb;
    -ms-box-shadow:0 0 5px #ebebeb
}

pre,code {
    width:100%;
    color:#222;
    background-color:#fff;
    font-family:Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
    font-size:.8em;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px
}

pre {
    width:96%;
    padding:2%;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    overflow:auto
}

code {
    padding:3px;
    margin:0 3px;
    box-shadow:0 0 10px rgba(0,0,0,0.1)
}

pre code {
    display:block;
    box-shadow:none
}

blockquote {
    color:#666;
    margin-bottom:20px;
    padding:0 0 0 20px;
    border-left:3px solid #bbb
}

ul,ol,dl {
    margin-bottom:15px
}

ul li {
    list-style:inside;
    padding-left:20px
}

ol li {
    list-style:decimal inside;
    padding-left:20px
}

dl dt {
    font-weight:700
}

dl dd {
    padding-left:20px;
    font-style:italic
}

dl p {
    padding-left:20px;
    font-style:italic
}

hr {
    height:1px;
    margin-bottom:5px;
    border:none;
    background:url(../images/bg_hr.png) repeat-x center
}

table {
    border:1px solid #373737;
    margin-bottom:20px;
    text-align:left
}

th {
    font-family:'Lucida Grande','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding:10px;
    background:#373737;
    color:#fff
}

td {
    padding:10px;
    border:1px solid #373737
}

form {
    background:#f2f2f2;
    padding:20px
}

img {
    xwidth:100%;
    max-width:100%
}

.outer {
    width:100%
}

.inner {
    position:relative;
    max-width:800px;
    padding:20px 10px;
    margin:0 auto
}

#forkme_banner {
  color: #FFF;
  font-size: 20px;
  padding: .5em 0;
  text-align: center;
  display: block;
}
  @media (min-width: 1024px) {
    #forkme_banner{
      position:absolute;
      top:0;
      left:0;
      width:138px;
      height:138px;
      display:block;
      background:transparent url(../images/fork-sprite.png) 0 0 no-repeat;
      text-indent:-9000px;
      z-index:3;
      padding: 0;
  }
}

#forkme_banner:hover {
    background-position:0 -138px
}

#header_wrap {
    background:#373737;
}

#header_wrap .inner {
    padding:10px
}

#project_title {
  font-size: 30px;
  margin: 0;
  color: #fff;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
}
  @media (min-width: 600px) {
    #project_title {
    font-size: 42px;
  }
}

#project_tagline {
    color:#fff;
    font-weight:300;
    background:none;
    text-shadow:#111 0 0 10px;
    font-size: 18px;
}
    @media (min-width: 600px) {
    #project_tagline {
      font-size:24px;
    }

}

#downloads {
  display: none;
}
@media (min-width: 600px) {
  #downloads {
    display: block;
    position:absolute;
    width:210px;
    z-index:10;
    bottom:-40px;
    right:0;
    height:70px;
    background:url(../images/icon_download.png) no-repeat 0 90%
  }
}

.zip_download_link {
    display:block;
    float:right;
    width:90px;
    height:70px;
    text-indent:-5000px;
    overflow:hidden;
    background:url(../images/sprite_download.png) no-repeat bottom left
}

.tar_download_link {
    display:block;
    float:right;
    width:90px;
    height:70px;
    text-indent:-5000px;
    overflow:hidden;
    background:url(../images/sprite_download.png) no-repeat bottom right;
    margin-left:10px
}

.zip_download_link:hover {
    background:url(../images/sprite_download.png) no-repeat top left
}

.tar_download_link:hover {
    background:url(../images/sprite_download.png) no-repeat top right
}

#main_content_wrap {
    background:#f2f2f2;
    border-top:1px solid #111;
    border-bottom:1px solid #111
}

#main_content {
    padding-top:40px
}

#footer_wrap {
    background:#212121
}

.tabs {
    margin:0;
    padding:0;
    font:1em;
    list-style:none;
    overflow:hidden
}

.tabs a {
    color:#FFF;
    display:block;
    padding:7px 10px
}

.tabs>li {
    margin:0 2px 0 0;
    padding:0;
    display:block;
    float:left;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background:#257AB6;
    background:-moz-linear-gradient(top,#0C91EC 0%,#257AB6 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0C91EC),color-stop(100%,#257AB6))
}

.tabs>li:hover {
    background:#FFF;
    background:-moz-linear-gradient(top,#FFF 0%,#F3F3F3 10%,#F3F3F3 50%,#FFF 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFF),color-stop(10%,#F3F3F3),color-stop(50%,#F3F3F3),color-stop(100%,#FFF));
    cursor:pointer;
    color:#333
}

.tabs>li.active {
    background:#FFF;
    cursor:pointer;
    color:#333
}

.tabs>li.active a {
    color:#333
}

.tabContainer {
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-bottomleft:4px;
    border-top-left-radius:0;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    padding: .25em;
    background:#FFF;
    margin:0;
    color:#333
}

@media (min-width: 600px) {
  .tabContainer {
    padding: 1em 1.5em;
  }
}

@media screen and (max-width: 480px) {

}